{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "importOrder": ["(src|public|\\./)", "Styled$", ".css$"],
  "importOrderSeparation": true,
  "endOfLine": "auto"
}
